@font-face {
  font-family: Invisible;
  src: url(invisible1.ttf);
}

html, body {
    background-color:#222222;
    cursor: pointer;
    height: 100%;
    width:  100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family:monospace;
    font-size:14px;
    background:url(texture.png);
    background-repeat: repeat;
    touch-action: none;
}

h1 {
    color: #f2ed63;
    margin: 0;
    padding: 1em 2em;
    font-family: sans-serif;
    font-size: 46px;
    text-shadow: 1px 2px 1px #464646;
}

.key {
  border:1px solid black;
  position:absolute;
  top:0px;
  z-index: 1;
  background-color:transparent;
}

#spectrum {
  position:absolute;
  left: 55px;
  top: 0px;
  z-index:2;
  background-color: black;
  opacity: 0.75;
  height: 128px;
  width: 1375px;
  overflow:hidden;
  border-bottom:1px solid black;
}

#gradient {
  position:absolute;
  top:128px;
  height: 128px;
  width: 1430px;
  left: 0px;
  background-color: black;
  opacity: 0.67;
  border-top-color:white;
  overflow-x:hidden;
  overflow-y:scroll;
  border-bottom:1px solid black;
}

#gradient div {
  position: absolute;
  background-color: black;
  text-align:center;
}

#gradient div hr {
  margin-top:8px;
  margin-bottom:8px;
  height:0px;
  border:1px solid white;
}

#spectrumText {
  position: fixed;
  width:200px;
  height:200px;
  top:192px;
  left:0px;
  opacity:1;
  color:white;
  background-color:transparent;
  z-index:1;
  font-size:14px;
  letter-spacing: 4.1px;
  font-family:"Invisible", monospace;
}

#spectrumValues {
  position: fixed;
  width:250px;
  height:250px;
  top:192px;
  left:0px;
  opacity:1;
  color:white;
  background-color:black;
  z-index:0;
  font-size:14px;
  padding: 3px;
  overflow:scroll;
}

#spectrumButton {
  position: fixed;
  top:392px;
  left:0px;
  z-index:1;
}

.harmonic {
  position:absolute;
  top:0px;
  z-index:-1;
}

#keyboard {
  position:absolute;
  height: 800px;
  width: 1375px;
  background-image: url(bg_keys.svg);
  background-repeat: repeat-x;
}

#intervals {
  width:1375px;
  height:800px;
  position:absolute;
  top:0px;
  left:0px;
}

.fret {
  position:absolute;
  z-index: 0;
  background-color:#000000;
  border:0;
  margin:0px;
  height:1px;
}

.level {
  position:absolute;
  top:0px;
  z-index: -2;
  border:0;
  margin:0px;
  height:0px;
  width:3px;
  opacity:1;
}

.slider {
  width:225px;
}

#numbers {
  position:absolute;
  left:0px;
  width:1375px;
}

#numbers pre {
  position:absolute;
  color:white;
  margin:0;
  font-size:12px;
}

#oscilloscope {
  width: 400px;
  height: 200px;
}

#spectrogram {
  width: 400px;
  height: 200px;
}

#controls {
  position: absolute;
  top: 0px;
  z-index:1;
}

#rew {
  position:absolute;
  left:0px;
  top:96px;
  width:55px;
  background-color: black;
  border-color: black;
}

#fwd {
  position:absolute;
  left:0px;
  top:256px;
  width:55px;
  background-color: black;
  border-color: black;
}

#timerButton {
  position:absolute;
  left:0px;
  top:288px;
  width:55px;
  background-color: black;
  border-color: black;
}

#add {
  position: absolute;
  left: 0px;
  top: 48px;
  width:55px;
  height:48px;
  color: white;
  background-color: black;
  border-color: black;
}

#remove {
  position: absolute;
  left: 0px;
  top: 0px;
  width:55px;
  height:48px;
  color: white;
  background-color: black;
  border-color: black;
}

#time {
  top:0px;
  left:0px;
  height:128px;
  width:55px;
  background-color:black;
  opacity:1;
  overflow:visible;
}

#timeSlider {
  position:relative;
  top:0px;
  left:0px;
  width:50px;
  height:10px;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
  font-size:10px;
  font-weight:bold;
  border:0px;
  opacity:1;
}

#timeSlider i {
  position: relative;
  top: -2px;
  left:16px;
}

#h_select {
  position:absolute;
  top:-8px;
  left:70px;
  height:16px;
  margin:0;
  padding:0;
  border:0;
  color:white;
  z-index:3;
}

#h_select i {
  height:16px;
}

#filename {
  top: 256px;
  position: absolute;
  left: 55px;
  width: 80px;
  height: 32px;
  margin:0;
  padding:0;
  border:0;
  font-family:monospace;
}

#download {
  top: 256px;
  position: absolute;
  left: 135px;
}

#upload {
  top: 256px;
  position: absolute;
  left: 175px;
}

#voice_number {
  top: 256px;
  position: absolute;
  left: 215px;
  height:32px;
  width:40px;
  margin:0;
  padding:0;
}

#voice_add {
  top: 256px;
  position: absolute;
  left: 255px;
  height:32px;
  width:40px;
}

#voice_remove {
  top: 256px;
  position: absolute;
  left: 295px;
  height:32px;
  width:40px;
}

#upload_voice {
  position:relative;
  width: 224px;
  font-family:monospace;
}

#upload_popup {
  position:absolute;
  top:0px;
  left:55px;
  width:256px;
  height:32px;
  display:none;
  background-color:white;
  z-index:3;
}

audio {
  position: absolute;
  top: 320px;
  left: 0px;
}

#param_popup {
  position:absolute;
  top:32px;
  left:55px;
  width:256px;
  height:224px;
  display:none;
  background-color:white;
  z-index:3;
}

#help_popup {
  position:fixed;
  top:32px;
  right:0px;
  width:128px;
  height:192px;
  display:block;
  background-color:white;
  z-index:3;
}

#help_text {
  overflow-y:scroll;
}

#help_nav, #close_notice {
  position:absolute;
  bottom:0px;
  left:0px;
}

#help_nav button, #close_notice {
  color:black;
  background-color:white;
}

#notice {
  width:224px;
  height:256px;
  position:fixed;
  bottom:0px;
  left:0px;
  background-color:white;
  z-index:1;
}

#onoffButton {
  position:absolute;
  top:288px;
  left:55px;
}

#recButton {
  position:absolute;
  top:288px;
  left:95px;
  width:40px;
}

#voiceButton {
  position:fixed;
  bottom:32px;
  right:32px;
  width:32px;
  z-index:3;
  border-radius:50%;
}

#voicePopup {
  position:absolute;
  display:none;
  z-index:1;
}

#scale_keys {
  position:absolute;
  left:135px;
  top:288px;
  width:40px;
  height:32px;
}

#scale_strings {
  position:absolute;
  left:175px;
  top:288px;
  width:40px;
  height:32px;
}

#param {
  position:absolute;
  top:288px;
  left:215px;
  width:40px;
  height:32px;
}

#help {
  position:absolute;
  top:288px;
  left:255px;
  width:40px;
  height:32px;
}

#scroll {
  position:fixed;
  bottom:0px;
  right:0px;
}

#scroll button {
  position:absolute;
  width:32px;
  height:32px;
  margin:0;
  padding:0;
  border-radius: 50%;
}

#scroll_top {
  right:32px;
  bottom:64px;
}

#scroll_bottom {
  right:32px;
  bottom:0px;
}

#scroll_left {
  right:64px;
  bottom:32px;
}

#scroll_right {
  right:0px;
  bottom:32px;
}

button {
  height:32px;
  width:40px;
  margin:0;
  padding:0;
  color:white;
  background-color:black;
  border-color:transparent;
}

.selected {
  color:black;
  background-color:white;
}
